<div class="container">
  <%= link_to "New Play", new_play_path, class:"btn btn-success mb-5" %>
  <ul>
    <% @plays.each do |play| %>
      <li>
        <p>
          <%= link_to play_path(play) do  %>
            Game: <%= play.game.name %> - <%= play.game.company.name %>
          <% end %>
           <%= link_to "ðŸ“", edit_play_path(play) %>
        </p>
        <p>
          Admin:
          <% if play.user.avatar.attached? %>
            <%= cl_image_tag play.user.avatar.key, class: "avatar"%>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
          <% end %>
          |
          Participants:
          <% play.participations.each do |participation|%>
            <%= participation.user ? participation.user.first_name : participation.optional_name%>
            <% if participation.user.avatar.attached? %>
              <%= cl_image_tag participation.user.avatar.key, class: "avatar"%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
            <% end %>
          <% end %>
        </p>
        <p>
          Status:
          <% if play.done %>
            <% if play.won %>
              <b style="color:green">WIN</b>
            <% else %>
              <b style="color:red">LOSE</b>
            <% end %>
          <% else %>
          <b>PENDING</b>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
