<div class="container">
  <%= link_to "New Play", new_play_path, class:"btn btn-success mb-5" %>
  <ul>
    <% @plays.each do |play| %>
      <li>
        <p>
          <%= link_to play_path(play) do  %>
            Game: <%= play.game.name %> - <%= play.game.company.name %>
          <% end %>
        </p>
        <p>
          Admin: <%= play.user.first_name %> |
          Participants:
          <% play.participations.each do |participation|%>
            <%= participation.user ? participation.user.first_name : participation.optional_name%>
          <% end %>
        </p>
        <p>
          Status:
          <% if play.done %>
            <% if play.won %>
              <b style="color:green">WIN</b>
            <% else %>
              <b style="color:red">LOSE</b>
            <% end %>
          <% else %>
          <b>PENDING</b>
          <% end %>
        </p>
        <p>
         <%= link_to "ðŸ“", edit_play_path(play) %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
