<div class="container">
  <p>
    Nom de la salle: <%= @play.game.name %>
  </p>
  <p>
    Nom de la compagnie: <%= @play.game.company.name %>
  </p>
  <p>
    Date de jeu: <%= @play.date %>
  </p>
  <p>
    -----------
  </p>
  <p>
    Ont joué:
    <% @play.participations.each do |participation|%>
      <% @player = participation.user %>
      <% if @player %>
        <%= link_to participation_path(participation), method: :delete do %>
          <p class="btn btn-success">
            <% if @player.avatar.attached? %>
              <%= cl_image_tag @player.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <%= "#{@player.first_name} #{@player.last_name}"%>
          </p>
        <% end %>
      <% else %>
        <%= link_to participation_path(participation), method: :delete do %>
          <p class="btn btn-danger"><%= participation.optional_name %></p>
        <% end %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= form_tag play_add_players_path(@play), method: :patch do %>
      <%= text_field_tag :player,
        params[:player],
        class: "form-control",
        placeholder: "Rem, Kit, etc."
      %>
      <%= submit_tag "Ajouter un participant", class: "btn btn-primary" %>
    <% end %>
    <% unless @response.nil? %>
      <%= @response %>
    <% end %>
  </p>
  <p>
    -----------
  </p>
  <p>
    Section Score:
  </p>
  <% if @play.done %>
    <p>
      Vous avez <%= @play.won ? "gagné!" : "perdu.." %>
    </p>
  <% else %>
    <p>
      Partie pas encore déroulé
    </p>
  <% end %>
<!--   <% if @play.won %>
    <p>
      Score:
    </p>
  <% end -%> -->
  <p>
    -----------
  </p>
  <%= simple_form_for(@play) do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Ajouter des photos", class: "btn btn-primary" %>
  <% end %>
  <div class="d-flex flex-wrap my-3">
    <% @play.photos.each do |photo| %>
      <%= link_to delete_photo_play_url(@play, photo.id), method: :delete, data: { confirm: 'Are you fucking sure?' } do%>
        <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
      <% end %>
    <% end %>
  </div>
  <%#= link_to "Add photos", play_add_photos_path(@play), class:"btn btn-primary" %>
  <%#= link_to "Remove photos", play_delete_photos_path(@play), class:"btn btn-danger" %>
  <p>
    -----------
  </p>
  <p>
    Messages / Souvenirs de l'escape game:
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <!-- <div class></div> -->
        <div class="messages">
          <% @play.messages.each do |message| %>
            <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
        <div id="create-message">
          <%= simple_form_for [@play, Message.new], remote: true do |f| %>
            <%= f.input :content, label: false %>
            <%= f.submit "⬅️ Submit", class:"right my-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p>
    -----------
  </p>
  <p>
    <%= link_to "Editer la partie", edit_play_path(@play) %>
    <!-- TEMPORARY IF TO MAKE APP ACCESSIBLE WITHOUT ACCOUNT -->
    <% if current_user %>
      | <%= link_to "Retour au dashboard", user_path(current_user) %>
    <% end %>
  </p>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();

    App['play_<%= @play.id %>'] = App.cable.subscriptions.create({ channel: 'PlaysChannel', play_id: <%= @play.id %>}, {
      received: (data)=> {
        if (data.current_user_id !== <%= current_user.nil? ? 0 : current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>
