<div class="container">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user_path(user) do  %>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, class: "avatar"%>
          <% else %>
            <%= image_tag "user_avatar.png", class: "avatar" %>
          <% end %>
          <%= user.first_name.capitalize %> <%= user.last_name.capitalize %> -
        <% end %>
        <%= user.email %>
        <% if user == current_user %>
          - <small><b><i>YOU</i></b></small> <%= link_to "ðŸ“", edit_user_registration_path(user) %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
