<div class="container">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user_path(user) do  %>
          <%= user.first_name.capitalize %> <%= user.last_name.capitalize %> -
        <% end %>
        <%= user.email %>
        <% if user == current_user %>
          - <%= link_to "ðŸ“", edit_user_registration_path(user) %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
