<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 py-2 bg-white border">
     <h2> <%= @user.first_name %>'s Stats </h2>
     <p> <%= @user.first_name %> a participé à <b><%= @plays.length - @pending.length %></b> missions (<b><%= @win.length %></b> gagnées,  <b><%= @lose.length %></b> perdues) et a <b><%= @pending.length %></b> missions en attente.</p>
     <% if @user.top %>
       <p> <%= @user.first_name %> recommande: </p>
       <ol>
        <% if @top.one %>
         <%= render 'top', top: @top.one, comment: @top.one_comment %>
          <% if @top.two %>
           <%= render 'top', top: @top.two, comment: @top.two_comment %>
            <% if @top.three %>
             <%= render 'top', top: @top.three, comment: @top.three_comment %>
              <% if @top.four %>
               <%= render 'top', top: @top.four, comment: @top.four_comment %>
                <% if @top.five %>
                 <%= render 'top', top: @top.five, comment: @top.five_comment %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
       </ol>
       <% if current_user == @user%>
          <%= link_to "Editer Top", edit_user_top_path(current_user, @top) %> |
          <%= link_to "Supprimer Top", top_path(@top), method: :delete, data: { confirm: 'Are you fucking sure?' }  %>
       <% end %>
     <% elsif (current_user == @user) && (@user.participations.count >= 5) %>
        <%= link_to "Creer ton Top 5", new_user_top_path(current_user), class: "btn btn-success" %>
     <% elsif (current_user == @user) && (@user.participations.count < 5)%>
        <em>Register 5 plays and create your top 5</em>
     <% end %>

    </div>
    <div class="col-12 col-lg-6 py-2 bg-white border">
     <h2> <%= @user.first_name %> 's Plays </h2>
     <% if current_user == @user %>
      <%= link_to "New Play", new_play_path, class:"btn btn-success mb-2" %>
     <% end %>
     <ul style="list-style-type:none">
       <% @plays.each do |play| %>
         <li>
          <% if current_user %>
            <% @participants = play.participations.map(&:user_id) %>
            <% if @participants.include?(current_user.id) %>
             <%= link_to play_path(play) do  %>
               <%= play.game.name %> - <%= play.game.company.name %>
             <% end %>
             <%= link_to "📝", edit_play_path(play) %>
            <% else %>
              <%= play.game.name %> - <%= play.game.company.name %>
            <% end -%>
          <% else %>
           <%= play.game.name %> - <%= play.game.company.name %>
          <% end %>

          -

           <% if play.won %>
             <b style="color:green">WIN</b>
           <% elsif play.won == false %>
             <b style="color:red">LOSE</b>
           <% else %>
             <b>PENDING</b>
            <!-- NO CARE GIVEN IF PLAY DONE OR NOT -->
             <% if play.done %>
             <% else %>
             <% end %>
           <% end %>
           <% play.participations.each do |participation|%>
             <% if participation.user %>
               <% if participation.user.avatar.attached? %>
                 <%= cl_image_tag participation.user.avatar.key, class: "avatar", alt: participation.user.full_name%>
               <% else %>
                 <%= image_tag "user_avatar.png", class: "avatar" %>
               <% end %>
             <% else %>
               <%= image_tag "user_avatar.png", class: "avatar" %>
             <% end %>
           <% end %>

         </li>
       <% end %>
     </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 py-2">

    </div>
    <div class="col-12 col-lg-6 py-2">

    </div>
  </div>
</div>
