<div class="container">
  <h1>New Play / Nouvelle Partie</h1>
  <div class="container">
    <%= simple_form_for(@play) do |f| %>
      <div class="mb-4">
        <%= f.input :game_id,
        input_html: {class: "game-id"},
        include_blank:false,
        label: 'Game / Salle:',
        as: :hidden %>
        <select class="select2" id="game-input" name="game" data-id-element='#play_game_id'>
          <% @games.each do |game| %>
            <option value="game-<%= game.id %>" class="game-selects"><%= game.name %> | <%= game.company.name %></option>
          <% end %>
        </select>
      </div>


      <%= f.input :date,
        as: :string,
        input_html: {class: "datepicker"},
        label: 'Date (optional)' %>
      <%#= f.input :done %>
      <div class="done-visible">
        <%= f.input :won,
        as: :radio_buttons,
        collection: [[true, 'Win / Gagné'], [false, 'Lose / Perdu']],
        label_method: :second,
        value_method: :first,
        label: 'Result (Win/Lose) / Résultat (Gagné/Perdu):' %>
      </div>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Enregistrer", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
