<div class="container">
  <%= simple_form_for(@company) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.submit %>
  <% end %>
</div>
