<div class="container">
  <h1>New Play / Nouvelle Partie</h1>
  <%= simple_form_for(@play) do |f| %>
    <%= f.association :game, label_method: :name, value_method: :id, include_blank:false %>
    <%= f.input :date %>
    <%= f.input :done %>
    <%= f.input :won, as: :radio_buttons %>
    <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>
</div>
