<div class="master-banner" id="master-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("michael-jasmund-escape.jpg") %>); background-size: cover;">
  <div class="container text-center">
      <p data-aos="fade-down-right" data-aos-duration="3000">ESCAPE GAME MASTERS</p>
      <% if user_signed_in? %>
        <br><%= link_to "Access your Dashboard", user_path(current_user), class:"btn btn-success px-5" %>
      <% else %>
        <br><%= link_to "Start by Signing up!", new_user_registration_path, class:"btn btn-success px-5 mb-2"  %>
        <%= link_to "Access a Sample Dashboard", user_path(User.find(1)), class:"btn btn-primary px-4 mb-2" %>
       <% end %>
  </div>
</div>

<div class="d-none" id="table-of-content">
  <%= render 'shared/table-of-content' %>
</div>


<div class="py-5" id="text">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 py-2 bg-white">
        <div>Bienvenue :)</div>
        <div>Un grand merci pour tester mon site en beta!</div>
        <div>N'hesitez pas à rajouter des escapes games qui peuvent etre manquantes de la base de donnée, je vous en remercie!</div>
      </div>
      <div class="col-12 col-lg-6 py-2 bg-white">
        <div>Mise à jour à venir:</div>
        <ul>
          <li>Statistiques</li>
          <li>Export en format tableau des données</li>
          <li>Système de notation</li>
          <li>Plus d'infos sur les salles d'escape game avec des tags</li>
          <li>Site completement en francais</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="secondary-banner d-none" id="secondary-banner">
  <div class="container container-home text-center">
    <h2> Want to work with us?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto rerum vitae laboriosam illo soluta, amet maiores fugiat qui animi natus corporis adipisci, impedit non labore quas! Odio, hic, sint!</p>
    <%= link_to "Click here", "", class:"btn btn-success"  %>
  </div>
</div>

<div id="portfolio-links" class="d-none">
  <%= render 'shared/portfolio-links' %>
</div>

<div id="tabs" class="d-none">
  <%= render 'shared/tabs' %>
</div>

<div id="assets" class="d-none">
  <%= render 'shared/assets' %>
</div>

<div class="py-5 bg-white" id="cards">
  <div class="container container-home text-center">
    <h2> <%= Play.all.count %> Missions Enregistrés, <%= Game.all.count %> Escape Games à decouvrir!</h2>
    <div class="cards">
      <% @play = Play.all.reject { |p| p.photos.sample.nil? }.sample  %>
      <% @play_to_reject1 = @play %>
      <%= render "shared/vertical-card" %>
      <% @play = Play.all.reject { |p| p.photos.sample.nil? || p == @play_to_reject1 }.sample  %>
      <% @play_to_reject2 = @play %>
      <%= render "shared/vertical-card" %>
      <% @play = Play.all.reject { |p| p.photos.sample.nil? || p == @play_to_reject1 || p == @play_to_reject2}.sample  %>
      <%= render "shared/vertical-card" %>
    </div>
  </div>

</div>

<div style="background-color: white" class="py-5 d-none" id="collaborate-section">
  <div class="container container-home text-center">
    <h2> Want to work with us?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto rerum vitae laboriosam illo soluta, amet maiores fugiat qui animi natus corporis adipisci, impedit non labore quas! Odio, hic, sint!</p>
    <%= link_to "Click here", "", class:"btn btn-success"  %>
  </div>
</div>

<div id="social-footer">
  <%= render 'shared/social-links' %>
</div>

<div id="master-footer">
  <%= render 'shared/master-footer' %>
</div>
