<div class="container pt-5">

  <% if  false%>
    <%= link_to "New Game / Nouvelle Mission", new_game_path, class:"btn btn-success mb-3" %>

    <%= link_to "New Company / Nouvelle Boite", new_company_path, class:"btn btn-primary mb-3" %>
  <% end %>
    <h1 class="my-4">Listes des missions disponibles</h1>
    <% @companies.each do |company| %>
    <div class="p-4 border my-3 bg-white">
      <h3><%= company.name %></h3>
      <% company.games.each do |game| %>
          <p>
            <%= link_to game_path(game) do  %>
              <%= game.name %>
            <% end %> - <small><%= game.company.name %></small>
              - <%= link_to "ðŸ“", edit_game_path(game) %>
          </p>
      <% end -%>
    </div>
    <% end %>
</div>

