<div class="container">
  <%= link_to "New Company", new_company_path, class:"btn btn-success mb-5" %>

  <ul>
    <% @companies.each do |company| %>
      <li>
        <%= link_to company_path(company) do  %>
          <%= company.name %>
        <% end %> - <small><%= company.address %></small>
        - <%= link_to "ðŸ“", edit_company_path(company) %>
      </li>
    <% end %>
  </ul>
</div>
